
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */