body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    color: #291f1a;
}


/*helper*/

section {
    padding: 60px 0;
}

section h2 {
    margin-bottom: 60px;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}

section h2,
h3 {
    margin-bottom: 40px;
}


/*nav start*/

#nav {
    background-color: transparent;
    border: 0;
    transition: all 0.5s;
}

#nav.scrolled {
    background-color: rgba(112, 128, 144, 0.85);
}

#nav #bs-example-navbar-collapse-1>ul>li>a {
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}


/*nav stop*/


/*header start*/


/*
#header {
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)),url('../img/header.jpg');
    height: 80vh;
   
}
*/


/*
#header #header-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}
*/


/*header stop*/


/*section about start*/

#about {
    background-color: #f9fcfe;
}

#show {
    display: none;
    text-align: center;
    margin: 20px 0;
}

#about .slide {
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    position: relative;
}

#about .slide::after {
    content: "\f077";
    font-family: FontAwesome;
    position: absolute;
    left: 680px;
    color: rgb(112, 128, 144);
}

#about .slide-down::after {
    content: "\f078";
    font-family: FontAwesome;
}

#about .down,
#about .up {
    text-transform: uppercase;
}


/*section about stop*/


/*section activities*/

#activities {
    background-color: #fff;
}

#activities .container-image {
    background-color: lightgray;
    height: 200px;
    transition: all 0.4s linear;
}

#activities .container-image:hover {
    background-color: darkgray;
}

#activities img {
    margin-top: 40px;
    margin-left: 25px;
}

#activities a {
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

#activities p {
    text-align: center;
    margin-top: 25px;
}


/*section activites stop*/

#galeria {
    background-color: #f9fcfe;
}

#galeria .container-item {
    height: 300px;
    overflow: hidden;
}

#galeria .item-image {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.4s linear;
}

#galeria .item-image:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

#galeria #item-image-1 {
    background-image: url('../img/galeria_alpy.jpg');
}

#galeria #item-image-2 {
    background-image: url('../img/galeria_alpy1.jpg');
}

#galeria #item-image-3 {
    background-image: url('../img/galeria_alpy1.jpg');
}

#galeria h4 {
    margin-top: 20px;
}

#galeria p {
    text-align: center;
    font-style: italic;
}


/*section galeria startsection galeria stop*/


/*section climat start*/

#nature {
    background-color: #f9fcfe;
}

#nature .nature-image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/swistak_alpy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s;
    height: 300px;
}

#nature .nature-container {
    height: 100%;
    overflow: hidden;
}

#nature .nature-image:hover {
    transform: scale(1.1)
}

#nature .weather {
    text-align: center;
    margin-bottom: 40px;
}

#climat .weather .weather-icon {
    width: 78px;
    height: 78px;
    background-color: #808080;
    line-height: 78px;
    color: #fff;
    border: 1px solid #808080;
    border-radius: 50%;
    font-size: 32px;
    margin-right: 10px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    margin-right: 20px;
}

#climat .weather .weather-icon:hover {
    background: #fff;
    color: #808080;
}


/*section climat stop*/


/*climat second wersion start*/

#climat .container-wheather {
    height: 300px;
    background-color: lightgrey;
    overflow: hidden;
    position: relative;
}

#climat h4 {
    font-weight: 600;
    padding-top: 20px;
}

#climat .container-wheather .climat-paragraph {
    font-weight: 600;
    position: absolute;
    top: 80%;
    text-align: center;
    font-style: italic;
}

#climat .container-wheather .icons-wheather {
    height: 200px;
}

#climat .container-wheather .weather-icon {
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 35px;
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

#climat .container-wheather .icons-left .fa {
    position: absolute;
    left: 12%;
    top: 30%;
    transition: all 0.5s;
}

#climat .container-wheather .icons-left .fa:hover {
    background-color: #000;
    color: #fff;
    transform: rotate(360deg);
}

#climat .container-wheather .icons-right .fa {
    position: absolute;
    top: 30%;
    left: 50%;
    transition: all 0.5s;
}

#climat .container-wheather .icons-right .fa:hover {
    background-color: #000;
    color: #fff;
    transform: rotate(360deg);
}

#climat .describe {
    text-align: justify;
}

#climat .climat-theme h4 {
    margin-bottom: 30px;
}


/*climat second wersion stop*/


/*footer start*/

.socials-icons {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    margin: 20px 15px 30px 0;
    text-align: center;
    transition: all 0.5s;
}

.socials-icons:hover {
    background-color: #fff;
    color: #000;
}

#main-footer {
    padding: 10px 0;
    text-align: center;
    /*    background-color: #B2C1EB;*/
    background-color: rgb(220, 220, 220);
}

#main-footer #footer-nav,
#main-footer .copyright {
    line-height: 50px;
    padding-top: 20px;
}

#main-footer #footer-nav,
#main-footer .social {
    text-align: center;
}

#main-footer #footer-nav ul li {
    display: inline-block;
    margin-right: 10px;
}

#main-footer #footer-nav ul li a {
    text-decoration: none;
    color: #000;
}
/*footer stop*/


/*styles podstrona*/


/*hikes styles start*/

#hike {
    padding-left: 120px;
}

#hike .sport-container {
    height: 250px;
    overflow: hidden;
}

hr {
    border-color: black;
}

.sport-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}

#hike #heikes-image-1 {
    background-image: url(../img/galeria_alpy.jpg);
}

#hike #heikes-image-2 {
    background-image: url(../img/galeria_alpy1.jpg);
}

#hike h4 {
    text-align: left;
}

#hike .italic {
    font-style: italic;
}

#hike .info-sport {
    margin-top: 50px;
    line-height: 0.9;
    /*    position: relative;*/
}

#hike h4:after {
    content: "\f183";
    font-family: FontAwesome;
    position: absolute;
    width: 40px;
    text-align: center;
    left: 220px;
    top: 10px;
    font-size: 40px;
    background-color: lightskyblue;
}


/*hikes stop*/


/*bike start*/

#bike #bike-image-1 {
    background-image: url(../img/bike1.png);
}

#bike #bike-image-2 {
    background-image: url(../img/bike1.png);
}

#bike h4 {
    text-align: left;
}

#bike .italic {
    font-style: italic;
}

#bike .info-sport {
    margin-top: 50px;
    line-height: 0.9;
    /*    position: relative;*/
}

#bike h4:after {
    content: "\f206";
    font-family: FontAwesome;
    position: absolute;
    width: 60px;
    text-align: center;
    left: 220px;
    top: 10px;
    font-size: 40px;
    background-color: lightskyblue;
}


/*bike stop*/