body {
    font-family: Verdana;
    font-size: 30px;
}

header#header {
    background-image: url("../img/man-1.jpg");
}

/*
div.main-content h1, h2 {
    color: #fff;
    font-size: 30px;
}
*/

/*rozdzielczość powyżej 1170px*/

@media screen and (min-width: 1170px) {
    header#header {
        background-image: url("../img/man-1.jpg");
        background-size: cover;
        padding: 45vh;
        background-position: center;
        position: relative;
    }
    div.main-content {
        position: absolute;
        left: 2%;
    }
    
    div.main-content h1, h2 {
    color: #fff;
    font-size: 1em;
    }
    
    div.main-content h2 {
        text-transform: uppercase;
    }
}

/*zakres rozdzielczości pomiędzy 992px a 1169px*/

@media screen and (min-width: 992px) and (max-width: 1169px) {
    header#header {
        background-image: url("../img/man-2.jpg");
        background-size: cover;
        background-position: center;
        padding: 40vh;
        width: 70%;
        position: relative;
    }
    
    div.main-content {
        position: absolute;
        right: 23%;
        top: 10%;
    }
    
    div.main-content h2 {
        text-transform: uppercase;
    }
    
    div.main-content h1, h2 {
        font-size: 0.7em;
        color: #fff;
    }
}

/*zakres rozdzielczości poniżej 992px*/

@media screen and (max-width: 991px) {
    header#header {
        background-image: url("../img/man-1.jpg");
        background-size: cover;
        background-position: center;
        width: 50%;
        padding: 30vh;
        position: relative;
    }
    
    div.main-content {
        position: absolute;
        top: 100%;
        left: 35%;
    }
    
    div.main-content h1, h2 {
     
        color: #000;      
        font-size: 1em;
        text-transform: uppercase;
        text-align: center;
    }
    
    div.main-content  h1 {
     
        
        font-size: 0.8em;
        
    }
}