@import'variables';
@import 'mixins';

#main-footer {
     padding: 10px 0;
    text-align: center;
//       background-color: $background-section-second;
    .copyright {
        line-height: 50px;
        padding-top: 20px;
        font-size: 0.9em;
      
    }
    .social {
        text-align: center;
    }
    #footer-nav {
       line-height: 50px;
        padding-top: 20px; 
        ul li {
            display: inline-block;
            margin-right: 8px;
            font-size: 0.9em;
            a {
                text-decoration: none;
                color: #000;
                font-size: 1em;
                transition: all 0.5s linear;
                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
    
}

