
@import'variables';
@import 'mixins';

#nature {
    background-color: $background-section;
    margin-bottom: 30px;
    .nature-container {
        height: 100%;
        overflow: hidden;
        .nature-image {
            @include image-background('../img/swistak_alpy.jpg',center,cover);
            background-repeat: no-repeat;
            height: 300px;
            transition: all 0.5s;
            &:hover {
                transform: scale(1.1);
                 opacity: 0.8;
            }
        }
    }
    .nature-description {
        p {
        text-align: justify;
        }
    }
}
