


$base-font: 16px;
$header-color: #333333;
$main-colot-text: #777777;
$background-section-second: #f7f7f7;
$icons-social-color: #222222;
$hover-color:#0ed8d6;
$background-section:#f9fcfe;
$container-image-color: #D0D3D4;
$hover-container-image-color:#B3B6B7;
