@import'variables';
@import 'mixins';

@media all and (max-width: 991px) {
    #main-nav {
        background-color: #fff;
        &.scrolled {
            background-color: #fff;
        }
        #bs-example-navbar-collapse-1>ul>li {
            font-size: 0.8em;
            text-align: right;
            a {
                color: $hover-color;
            }
        }
        .navbar-header .navbar-brand {
            font-size: 1em;
        }
        .navbar-toggle {
            background-color: $hover-color;
        }
    }
    #climat {
        .container-wheather {
            
            .weather-icon {
                height: 80px;
                width: 80px;
                line-height: 80px;
                font-size: 1.5em;
                text-align: center;
            }
            .icons-left .fa {
                left: 50%;
                top: 30%;
            }
            .icons-right .fa {
                top: 30%;
                left: 30%;
            }
            .climat-paragraph {
                left: 20%;
            }
        }
        .climat-theme {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    section h2 {
        font-size: 1.5em;
    }
    #about {
        .slide::after {
            left: 470px;
        }
    }
    #nature {
        .nature-description {
            margin-top: 40px;
        }
    }
    #hike,
    #bike,
    #ski,
    #run{
        padding-left: 0;
        h4 {
            text-align: center;
            margin-top: 20px;
        }
        .italic {
            text-align: center;
            margin-bottom: 40px;
        }
        .info-sport {
            p {
                text-align: center;
            }
            .paragraph-last {
                margin-bottom: 40px;
            }
        }
        .small-sport-image {
            display: none;
        }
        
    }
    #main-footer {
        #footer-nav {
            
            ul li {
                
            margin-right: 30px;
                
                }
        }
    }
    hr {
        display: none;
    }
    section {
    padding:40px 0;
}
}

@media all and (max-width: 768px) {
    #main-nav {
        background-color: #fff;
        &.scrolled {
            background-color: #fff;
        }
        #bs-example-navbar-collapse-1>ul>li {
            font-size: 0.8em;
            text-align: right;
            a {
                color: $hover-color;
            }
        }
        .navbar-header .navbar-brand {
            font-size: 1em;
        }
        .navbar-toggle {
            background-color: $hover-color;
        }
    }
    section p {
        font-size: 0.8em;
    }

}

@media all and (max-width: 481px) {
    #about {
        .slide::after {
            left: 300px;
        }
    }
    #climat {
        .container-wheather {
            .icons-left .fa {
                left: 55%;
                top: 30%;
            }
            .icons-right .fa {
                top: 30%;
                left: 30%;
            }
            .climat-paragraph {
                left: 20%;
            }
            .climat-paragraph {
                left: 13%;
            }
        }
    }
}