body {
    margin: 0;
    
}

#intro {
    height: 100vh;
    width: 100%;
}

#intro::before,
#intro::after {
-webkit-animation: curtain 1s linear;
-moz-animation: curtain 1s linear;
animation: curtain 1s linear;
background-color: darkblue;
right: 0;
left: 0;
content: "";
position: absolute;   
}

#intro::before {
    top: 0;
}

#intro::after {
    bottom: 0;
}



#intro .inner {
    height: 100%;
    width: 100%;
    background-image: url("../img/cloud.jpg");
    background-position: center;
    background-size: cover;
}

@-webkit-keyframes curtain {
    0%,
    50% {
        height: 50%;
    }
    100% {
        height: 0;
    }
}


@-moz-keyframes curtain {
    0%,
    50% {
        height: 50%;
    }
    100% {
        height: 0;
    }
}

@-o-keyframes curtain {
    0%,
    50% {
        height: 50%;
    }
    100% {
        height: 0;
    }
}

@keyframes curtain {
    0%,
    50% {
        height: 50%;
    }
    100% {
        height: 0;
    }
}
