div {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    
    
}

input {
    width: 100px;
    height: 100px;
}

/*div:hover {
    background-color: blue;
}*/



.blue {
    transition: all 5s linear;
    background-color: blue;
    
}

.end {
  
    transition: all 1s ease-in-out;
    

